/* Custom CSS goes here */
body {
  padding-bottom: 70px;
  }
/*nav bar css*/
.navbar-default {
  background-color: #666aa6;
  border-color: #0107f9;
}
.navbar-default .navbar-brand {
  color: #010506;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #f19107;
}
.navbar-default .navbar-text {
  color: #010506;
}
.navbar-default .navbar-nav > li > a {
  color: #010506;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f19107;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f19107;
  background-color: #0107f9;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #f19107;
  background-color: #0107f9;
}
.navbar-default .navbar-toggle {
  border-color: #0107f9;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #0107f9;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #010506;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #010506;
}
.navbar-default .navbar-link {
  color: #010506;
}
.navbar-default .navbar-link:hover {
  color: #f19107;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #010506;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f19107;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f19107;
    background-color: #0107f9;
  }
}