<% include ../partials/header.ejs %>

   <!-- MAIN CONTENT -->
    <!--Tourney-->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-7">
          <img src="Content/Assets/smash.png" style="width:18cm;height:10cm" >
        </div>
            <div class="col-md-offset-2 col-md-7">
             <div class="panel panel-default">
  <div class="panel-body">
  <h2><i>Favourite Games</i></h2>
        <div class="row"> 
        <!--Warframe-->
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href = "https://warframe.com/landing"><img src="Assets/images/warframe.png"></a>
      <div class="caption">
        <h3>Warframe</h3>
        <p>Space ninjas play for free!</p>
      </div>
    </div>
  </div>
  <!--End Warframe-->
  <!--Overwatch-->
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="https://playoverwatch.com/en-us/"><img src="Assets/images/overwatch.jpg"></a>
      <div class="caption">
        <h3>Overwatch</h3>
        <p>Fight for the future!</p>
      </div>
    </div>
  </div>
  <!--End Overwatch-->
  <!--Soccer Spirits-->
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="https://www.withhive.com/game/desc/381/22"><img src="Assets/images/SS.jpg"></a>
      <div class="caption">
        <h3>Soccer Spirits</h3>
        <p>Fantasy Soccer that's out of this world!</p>
      </div>
    </div>
  </div>
  <!--End Soccer Spirits-->
  <!--Neopets-->
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="http://www.neopets.com/"><img src="Assets/images/neopets.jpg"></a>
      <div class="caption">
        <h3>Neopets</h3>
        <p>Virtual Pet Community! Join up for free games, shops, auctions, chat and more!</p>
      </div>
    </div>
  </div>
  <!--End Neopets-->
  
        </div>
        </div>
      </div>
    </div>
      </div>
    </div>


<% include ../partials/footer.ejs %>


